.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  margin: 20px;
  font-size: calc(10px + 4vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

pre { 
  padding: 30px;
  color: white !important;
  text-align: left;
}

.code-block {
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.5);
}

.original-img {
  max-height: 300px;
  padding-bottom: 10px;
}

canvas {
  position: absolute;
}

.crop {
  position: relative;
}